<div>
    <div>
        <div class="flex justify-end mb-3">
            <a href="/admin/post-content/new" >{{> admin-button title="+ Tạo bài viết mới"
                id="new-post-content" class=
                "hover:bg-cyan-700"}}
            </a>
        </div>
        {{> admin-table headers= headers data= postContents keys = keys }}
    </div>
</div>