<aside id="sidebar" class="fixed z-20 h-full top-0 left-0 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75" aria-label="Sidebar">
  <div class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-[#0070c0] pt-0">
    <div class="flex-1 flex flex-col pb-4 overflow-y-auto">
      <div class="flex-1 bg-[#0070c0] divide-y space-y-1">
        <ul class="pb-2 !ml-0">
          <li class="h-[60px]">
            <a href="/admin/post-content" class="w-full text-base text-gray-900 font-normal rounded-lg mt-[30px] pb-2">
               <img src="/images/3.svg" />
            </a>
          </li>
          <li>
            <a href="/admin/post-content" class="w-full text-base font-normal border border-white border-l-0 mt-4 flex items-center p-2 group bg-[#1e4e79]">
                <svg class="w-10 h-10 text-gray-500 group-hover transition duration-75" fill="#ffffff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                <span class="ml-3 text-[22px] text-white font-bold">Bài viết</span>
            </a>
          </li>
          <li>
            <a href="/" class="text-base font-normal border border-white border-l-0 flex items-center p-2 group bg-[#1e4e79]">
              <svg class="w-10 h-10 text-gray-500 flex-shrink-0 group-hover transition duration-75" fill="#ffffff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
              <span class="ml-3 flex-1 whitespace-nowrap text-[22px] text-white font-bold">Dự án</span>
            </a>
          </li>
          <li>
            <a href="/" class="text-base font-normal border border-white border-l-0 flex items-center p-2 group bg-[#1e4e79]">
              <svg class="w-10 h-10 text-gray-500 flex-shrink-0 group-hover transition duration-75" fill="#ffffff" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
              <span class="ml-3 flex-1 whitespace-nowrap text-[22px] text-white font-bold">Sản phẩm</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>

<div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>
