<div class="px-[120px]">
    <div class="py-5">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7443.212952482111!2d106.02079149717645!3d21.128249609422067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313509a9a22a8d59%3A0xdadd3198a9a8624!2zSG_DoGkgVGjGsOG7o25nLCBMacOqbiBCw6NvLCBUacOqbiBEdSwgQuG6r2MgTmluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1726418129400!5m2!1svi!2s"
            height="450" style="border:0;" allowfullscreen="" loading="lazy" class="w-full"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="grid grid-cols-2 gap-y-8 gap-x-6 my-9">
        <div class="">
            <div class="flex gap-x-4 mb-4">
                <span class="border-main-yellow border-r-4 h-8"></span>
                <span class="text-5 font-bold">TÔN CHỈ</span>
            </div>
            <div class="font-lato text-black-light">Thành công của bạn cũng là thành công của tôi. Hãy để tôi phục vụ bạn với sản phẩm chất lượng nhất
                giúp bạn có những công trình tốt nhất</div>
        </div>
        <div>
            <div class="flex gap-x-4 mb-4">
                <span class="border-main-yellow border-r-4 h-8"></span>
                <span class="text-5 font-bold">ĐỊA CHỈ</span>
            </div>
            <div class="font-lato text-black-light">Số 24 Đường Lý Thường Kiệt Phường Hòa Bình, Thành Phố Bắc Ninh</div>
        </div>
        <div class="">
            <div class="flex gap-x-4 mb-4">
                <span class="border-main-yellow border-r-4 h-8"></span>
                <span class="text-5 font-bold">ĐẶT HÀNG</span>
            </div>
            <div class="text-[32px] text-main-yellow font-lato">0393583026</div>
        </div>
        <div>
            <div class="flex gap-x-4 mb-4">
                <span class="border-main-yellow border-r-4 h-8"></span>
                <span class="text-5 font-bold">THỜI GIAN LÀM VIỆC</span>
            </div>
            <div class="font-lato text-black-light">Từ thứ 2 đến CN. Từ 8h - 17h</div>
        </div>
    </div>
</div>