<footer class="text-3.5"></footer>
<div class="px-10 py-20 grid grid-cols-4 customer-footer phone:grid-cols-1 tablet:grid-cols-2">
    <div class="tablet:pr-4 phone:mb-8 computer:pr-4 tablet:mb-9">
        <div class="logo-120 bg-cover"></div>
        <div class="text-gray-light font-lato">
            Thành công của bạn cũng là thành công của tôi. Hãy để tôi phục vụ bạn với sản phẩm chất lượng nhất giúp
            bạn có những công trình tốt nhất
        </div>
        <div class="flex">
            <a class="flex justify-center items-center h-12 w-12 text-white text-link">
                <i class="fa-brands fa-youtube text-5"></i>
            </a>
            <a class="flex justify-center items-center h-12 w-12 text-white text-link">
                <i class="fa-brands fa-facebook text-5"></i>
            </a>
            <a class="flex justify-center items-center h-12 w-12 text-white text-link">
                <i class="fa-brands fa-instagram text-5"></i>
            </a>
        </div>
    </div>
    <div class="phone:mb-8 computer:pr-4">
        <div class="flex gap-x-4 mb-9">
            <span class="border-main-yellow border-r-4 h-8"></span>
            <span class="text-5 text-white font-bold">DỊCH VỤ</span>
        </div>
        <div class="flex flex-col gap-y-2">
            {{#each footer.service}}
                <a class="font-lato text-gray-light font-medium px-4 text-link" href="{{this.href}}">{{this.title}}</a>
            {{/each}}
        </div>
    </div>
    <div class="tablet:pr-4 phone:mb-8 computer:pr-4 tablet:mb-9">
        <div class="flex gap-x-4 mb-9">
            <span class="border-main-yellow border-r-4 h-8"></span>
            <span class="text-5 text-white font-bold">Liên hệ</span>
        </div>
        <div class="flex flex-col gap-y-4">
            {{#each footer.contact}}
                <div class="items-center gap-x-4 inline-flex">
                    <i class="{{this.icon}} text-main-yellow text-5"></i>
                    <span class="font-lato text-gray-light font-medium">{{{this.description}}}</span>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="phone:mb-8 computer:pr-4">
        <div class="flex gap-x-4 mb-9">
            <span class="border-main-yellow border-r-4 h-8"></span>
            <span class="text-5 text-white font-bold">Gửi tin nhắn đến chúng tôi</span>
        </div>
        <div>
            <div class="mb-4 border-b-2 border-main-yellow hover:border-white hover:transition-all hover:duration-300">
                <input type="text" placeholder="TÊN CỦA BẠN"
                    class="h-12 bg-transparent border-none outline-none text-3.5 w-full text-gray-light placehoder-footer">
            </div>
            <div class="mb-4 border-b-2 border-main-yellow hover:border-white hover:transition-all hover:duration-300">
                <input type="text" placeholder="EMAIL"
                    class="h-12 bg-transparent border-none outline-none text-3.5 w-full text-gray-light placehoder-footer">
            </div>
            <div class="mb-6 border-b-2 border-main-yellow hover:border-white hover:transition-all hover:duration-300">
                <textarea placeholder="TIN NHẮN" id="footer-textarea-message"
                    class="h-12 bg-transparent border-none outline-none text-3.5 w-full text-gray-light placehoder-footer"></textarea>
            </div>
        </div>
        <button onclick="sendEmail()" class="bg-main-yellow h-12 text-main-blue w-full text-link hover:bg-main-blue">
            GỬI NGAY
        </button>
    </div>
</div>
</footer>