<div>
  {{ message }}
  {{{htmlImport}}}
  <div class="title">TEST</div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="js/customer/home/index.js"></script>
</div>