<div
  class="fixed inset-0 bg-gray-500 z-[1000] bg-opacity-20 transition-opacity"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
></div>
<div class="fixed inset-0 z-[100] w-screen overflow-y-auto">
  <div class="flex min-h-full justify-center p-4 text-center items-center sm:p-0">
        <img src="/images/loading.gif" />   
  </div>
</div>
